[2017-03-25 06:51] emayssat-ms opened #1 "-profile options missing"
I would like to be able to select the AWS profile to use when starting the proxy.
Currently the profile used is 'default'.
Currently if one uses several profile for same account, the proxy may fails to start with the right credentials.
Like with the awscli, it would be nice to be able to select the profile at the command line.

[2017-04-18 17:30] abutaha commented on #1
Hi,

Thanks for mentioning this. I'm working on an update to have this included.

[2017-05-03 05:06] zqben402 opened #4 "Can we have a option to turn on/off V4 signing?"
Hi 👍
Can we have an option to turn on/off V4 signing ?
If we turn off the V4 signing, we can use like using a http proxy with query monitoring feature.

[2017-05-05 13:08] composer22 opened #5 "Feature: Docker image needed"
How about a docker image to wrap things into?

[2017-05-08 15:17] abutaha commented on #5
A dockerfile can be done. However, binary files are being provided for Windows, Mac and Linux, so I don't really know if a dockerfile will be of any good.

[2017-06-09 05:53] surendarchandra opened #6 "US specific end point processing..."
My end point is es.us-west-2.amazonaws.com; the tool expects it to be of the form XXX.us-west-2.es.XXX. Can we make it work for US as well? Thanks

[2017-06-09 06:21] surendarchandra commented on #6
Never mind, the search* style per es endpoint still follows the model used by this proxy.

[2017-06-09 06:21] #6 closed

[2017-06-13 23:03] ChrisFernandez commented on #5
@composer22 I am creating a dockerfile on my fork to use internally, but like @abutaha says
unless you need it for AWS or some container solution is really not worth it..
@abutaha I can create a pull request when we have it running fine. But since we run Linux we using it with the linux binary... nothing stops your from building the binary on docker when you create the image with dockerfile.. idk

[2017-07-20 04:11] em0ney commented on #5
Added a PR with Dockerfile and addition to README. If anyone needs an image to use, check out `gorillastack/aws-es-proxy`

[2017-07-25 09:53] markusbecker commented on #1
The documentation is mentioning that roles are support, but there is no input switch for this? Would be great if this could be integrated though?

[2017-07-25 11:38] keot commented on #1
_aws-es-proxy_ supports the `AWS_PROFILE` environment variable, so just invoke the proxy with `AWS_PROFILE=profile_name ./aws-es-proxy-0.4-mac-amd64 …`

[2017-07-25 13:56] markusbecker commented on #1
Hey keot,

thank you very much. But are you sure that also roles are supported? Pointing to es-test via AWS_PROFILE does give me an error: {"Message":"User: anonymous is not authorized to perform: es:ESHttpGet on resource: xxx-elk"}

[xxx-logon]
aws_access_key_id = xxx
aws_secret_access_key = xxx

[es-test]
role_arn = arn:aws:iam::xxxxx:role/es_test
source_profile = xxx-logon

[2017-07-25 14:47] markusbecker commented on #1
Ok, doing the assume role by myself and storing the credentials in $env does work though:

$env:AWS_ACCESS_KEY_ID=$tempcred.Credentials.AccessKeyId
$env:AWS_SECRET_ACCESS_KEY=$tempcred.Credentials.SecretAccessKey
$env:AWS_SESSION_TOKEN=$tempcred.Credentials.SessionToken

[2017-08-04 00:17] ReK2Fernandez opened #8 "Confused, kibana."
Hello we are trying to get kibana running with this tool.
but I am confused because according to this: http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/aes-troubleshooting.html#aes-troubleshooting-kibana-configure-anonymous-access
you do not need to sign the request to kibana...
we have your proxy and another okta proxy in the front to authentificate and your app has a rol wi

[2017-08-06 21:09] abutaha commented on #5
Thanks @em0ney for the PR. I will have it merged in the coming days.

[2017-08-06 21:28] abutaha commented on #8
Hi,

To access Amazon ElasticSearch, you need to sign your request and add an authorization header before you send the request to your ES cluster. The service will check the request headers and will either accept or reject the request.

If you are using only ElasticSearch (no Kibana), then this is an easy process because ES is based on APIs and accept CURL requests, so it is easy to sign the reque

[2017-08-08 22:06] ChrisFernandez commented on #8
@abutaha hello and thanks for your response...  My first language is not english so I think you misunderstood some of my inquiry sorry :).
The way we have it now, works for curl and command requests, but what we need is KIBANA, not the other pieces.. this is working ok if we put the TLS termination on the nginx instance... but what we did in production is to put it in docker and have the terminati

[2017-08-11 13:18] rkaplan-sx opened #10 "Installing Binaries"
Hello,
I'm having trouble installing the executable binaries.  There is no file extension so I'm unsure how to install.  Thanks for your help.

[2017-09-11 17:43] jacobleonw commented on #10
hey @rkaplan-sx, on what OS are you using aws-es-proxy?

For example, on macOS 10.12.6, I run it by doing this;
[code]
That will launch the proxy on `127.0.0.1:9200` by default, you can then visit `http://127.0.0.1:9200/_plugin/kibana` in your browser to see the Kibana interface

[2017-09-21 04:34] yardinicwaller opened #11 "Crashes with negative timestamp"
aws-es-proxy is *almost* working great for me. I can get it started up and make a few requests, but it consistently crashes after about a minute.

[code]

Notice that the last request has a timestamp at the beginning of the epoch, and the request duration is similarly computed as a difference between current time and epoch.

Here's the stack trace:

[code]

**Steps to reproduce**

I'm only doing o

[2017-09-21 04:44] yardinicwaller commented on #11
Looks like version 0.4 is fine. I'm no longer able to reproduce the issue on 0.4.

[2017-09-21 04:44] #11 closed

[2017-10-12 05:56] ningliu opened #12 "proxy shows the source code instead of executing it"
When I open the url http://localhost:9200/_plugin/kibana  in Chrome on mac, instead of rendering the page, it shows the source code.
Do you have any idea of why?

[
<img width="500" alt="screen shot 2017-10-12 at 1 56 05 pm" src="https://user-images.githubusercontent.com/2146824/31481279-30b7650a-aee8-11e7-8a67-1fb015a3a4a3.png">
](url)

[2017-10-13 10:35] MrPink opened #13 "The request signature we calculated does not match the signature you provided"
Hi,

I'm getting the following when trying to use the proxy

`The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details`

I'm running it with `aws-es-proxy-0.3-linux-amd64 -listen 0.0.0.0:9200 -endpoint https://search-elk-test-s5ksigjmxywxvb33qyhbhejrfy.eu-west-1.es.amazonaws.com

[2017-10-13 14:35] #13 closed

[2017-10-13 14:37] MrPink commented on #13
resolved - works now with the AWS credentials file

[2017-10-22 11:03] inno-ron commented on #5
@em0ney hey, is it possible the Dockerfile overriding the arguments env var with "-h" value, I cannot start the container really, it always outputting the help usage.

[2017-12-08 09:48] fianny opened #14 "--header "Content-Type: application/json" doesn't works"
I am using ES 6.0.

when I make a request
curl   --header "Content-Type: application/json"  -XPUT  http://localhost:9200/myindex/   -d'{"settings":{"index.mapping.ignore_malformed": true}}'

It responses
{"error":"Content-Type header is missing","status":406}

Is there a way to pass thru the header? As ES 6.0 mandate the content type header for any RESTful request with json body.

Thanks!

[2017-12-08 16:21] thomasquatorze opened #15 "SigV4 failing for Kibana Shared Short links (/goto/)"
Using aws elasticsearch 5.5.2 hosted service and accessing hosted kibana via aws-es-proxy which works great. Created a Shared Short URL. Accessing short url results in an AWS SigV4 Canonicalization error.

https://kibana.mydomain.com/_plugin/kibana/goto/ce613a4285eeaa035468432fac197ce3

The error points to missing "/app/kibana/" after "/_plugin/kibana/" though adding it to goto link doesn't work e

[2017-12-08 16:25] abutaha commented on #14
Hi,

Thanks for reporting this. I'll release a fix soon.

[2017-12-08 16:30] abutaha commented on #15
Hi,

I'm afraid I didn't understand your use case. Would you please elaborate more?

[2017-12-08 16:50] thomasquatorze commented on #15
Hi, When using Kibana and exploring the data by adding filters and queries the url gets very long and convoluted with querystring so sharing the long url can be difficult. Kibana has a Share Short URL feature that Stores the long URL in document in .kibana index and provides a shortened URL (/goto/) to share. Trying to access that short url via aws-es-proxy fails with a SIgV4 issue.

[2017-12-10 02:56] abutaha commented on #14
This has been fixed with release of v0.5.

[2017-12-10 02:56] #14 closed

[2017-12-10 17:10] abutaha commented on #4
Hi,

I've implemented this feature within the new release (v0.6).

[2017-12-10 17:10] #4 closed

[2017-12-10 17:12] abutaha commented on #15
Hi,

Thanks for the clarification. I will check this.

Q. The user who tries to access the url have aws-es-proxy running on his machine? He will need the proxy to sign the requests too.

[2017-12-10 17:14] abutaha commented on #12
Hi,

Apologies for the so late response. This looks like javascript is disabled in your browser. The proxy is working, however, your browser is not rendering the output as javascript, but rather as text, and this usually happens when javascript is disabled.

[2017-12-10 17:15] #10 closed

[2017-12-10 17:15] abutaha commented on #5
Docker file added to the project.

[2017-12-11 10:50] fianny commented on #14
Thank you so much for such quick response

Sent from my iPhone

[2017-12-11 12:15] brunsgaard opened #16 "Problems with Kibana 6.0.0"
I cloned out v0.6.0 today and tested it against AWS ES v6.

Calls to ES it going through fine, but Kibana 6 is having problems loading correctly.

![screen shot 2017-12-11 at 13 09 58](https://user-images.githubusercontent.com/815816/33830499-b955dad4-de74-11e7-850c-0351a1ec0723.png)

The content of the error is printed below for copy-pasting purposes.

[code]

I guess this issue is not isolated t

[2017-12-11 14:22] thomasquatorze commented on #15
All access to kibana goes through a dedicated aws instance running apache in front of aws-es-proxy. All kibana requests go through it and all works great, except when trying access a shortened url link. Thanks

[2017-12-11 18:39] abutaha commented on #16
Hi,

Thanks for sharing this. Can you please check out v0.7?
In v0.6 I was only adding Content-Type to the request if its value is application/json. But now I'm making it add the header regardless which value it holds. It is on the customer to use the correct value.

[2017-12-11 19:13] abutaha commented on #15
I'm afraid this will not work. /goto/ is modifying the url, which breaks the SigV4 signature.
https://github.com/aws/aws-sdk-go/blob/master/aws/signer/v4/v4.go#L317

[2017-12-11 20:22] thomasquatorze commented on #15
I'm sure goo.gl shortener will work but its not as integrated into kibana and I don't think the kibana UI has an option to remove the short link option from being displayed (or replacing it with goo.gl) which can be confusing for users. Thanks for looking into this.

[2017-12-11 20:22] #15 closed

[2017-12-11 23:25] brunsgaard commented on #16
Hi @abutaha

I can confirm that v0.7 works as intended for me. I will roll it out to a bigger production environment later this week and expect everything to go well, otherwise I will let you know. Thanks for a great project and the fast response.

I will close this issue for now 👍

[2017-12-11 23:25] #16 closed

[2017-12-17 21:15] brunsgaard opened #17 "Docker images are automatically build on new tags"
I can recommend [quay.io](https://quay.io) for this :) Dockerhub is of cause also an option.

Right now I push the image manually to a [repo under my own account](https://quay.io/repository/economic/aws-es-proxy).
It would make more sense if you released it to quay on tags, preferably under an account with the same name as this GitHub account ;)

Thanks for a great project 👍

[2018-01-07 21:50] rubelw opened #18 "uuid.go broke build"
Received the following errors because uuid.NewV4() now returns the uuid and and error.  Fixed locally by  u,err := uuid.NewV4() and then converting u to a string.

./aws-es-proxy.go:226:44: multiple-value uuid.NewV4() in single-value context
./aws-es-proxy.go:329:59: multiple-value uuid.NewV4() in single-value context
./aws-es-proxy.go:330:61: multiple-value uuid.NewV4() in single-value context

[2018-01-08 16:20] cordoval commented on #5
@em0ney thanks project saver 💃

[2018-01-08 16:23] cordoval commented on #5
@em0ney i think this repository has to have its own image to be more updated, yours does not even have a link back to here. https://hub.docker.com/r/gorillastack/aws-es-proxy
someone has to do something please 👍

[2018-01-09 07:41] brunsgaard commented on #5
related to #17

[2018-01-09 09:48] abutaha commented on #18
Thanks for reporting this. Will commit a fix soon.

[2018-01-09 10:08] abutaha commented on #5
@cordoval, I'm going to host a docker image in Dockerhub. Will have it released soon.

[2018-01-09 10:09] abutaha commented on #17
I'm going to host an image in Dockerhub. I would like to host one in quay.io too, but can't find a free version (unless you can help with that) :)

[2018-01-09 10:12] cordoval commented on #5
i think i am having a problem with kibana because of this

but could be something else

<img width="762" alt="screen shot 2018-01-09 at 5 11 24 am" src="https://user-images.githubusercontent.com/328359/34715736-9e2514b2-f4fb-11e7-8c43-c47ff74f3734.png">

[2018-01-09 10:16] abutaha commented on #5
I believe this is related to #16. Please try v0.7 (https://github.com/abutaha/aws-es-proxy/releases/). If issue remains, create a new issue to track it.

[2018-01-09 10:18] cordoval commented on #5
that is why i needed that build on dockrehub 😊

[2018-01-09 10:40] cordoval commented on #18
I am building on quay.io and getting this, so 0.7 is not really feasible
[code]

[2018-01-09 21:32] abutaha commented on #18
I uploaded a fix, can you please test?

[2018-01-09 21:35] cordoval commented on #18
yes, doing it right now, wait for me for confirmation

[2018-01-09 21:39] cordoval commented on #18
building on this https://github.com/cordoval/aws-es-proxy

[2018-01-09 21:39] cordoval commented on #18
check here https://quay.io/repository/hospiceworks/aws-es-proxy/build/fa633a1c-fb17-4590-b8a0-7f3d59826a61

[2018-01-09 21:46] cordoval commented on #18
<img width="1006" alt="screen shot 2018-01-09 at 4 45 06 pm" src="https://user-images.githubusercontent.com/328359/34744856-9919f396-f55c-11e7-97e3-f277a7980c72.png">

[2018-01-09 21:46] cordoval commented on #18
should we close this @abutaha ?

[2018-01-10 02:55] cordoval commented on #18
@abutaha confirmed it is working like a charm, can we close this? i will open another ticket for security, the image is very vulnerable like on the tents of vulnerabilities.

[2018-01-10 02:56] cordoval opened #19 "Vulnerabilities detected by Quay.io"
quay found not a small number of vulnerabilities

[2018-01-10 15:03] abutaha commented on #19
@cordoval can you please elaborate more on this?

[2018-01-10 15:04] abutaha commented on #18
Okay, so closing this. Let's keep the talk on the vulnerabilities in #19.

[2018-01-10 15:04] #18 closed

[2018-01-10 15:05] abutaha commented on #12
It seems no further actions are needed here.

[2018-01-10 15:05] #12 closed

[2018-01-10 15:05] abutaha commented on #1
It seems no further actions are needed here.

[2018-01-10 15:05] #1 closed

[2018-01-14 05:29] abutaha commented on #5
Official docker imaged pushed to https://hub.docker.com/r/abutaha/aws-es-proxy/

[2018-01-14 05:29] #5 closed

[2018-01-14 05:30] abutaha commented on #17
Official docker image image pushed to https://hub.docker.com/r/abutaha/aws-es-proxy/

[2018-01-14 05:30] #17 closed

[2018-01-19 08:38] rkstar007 opened #20 "Issue While connection the kibana"
Hello ,

I follow your step and in browser i am not able to access the kibana URL.All Traffic is allowed to security group for 9200 port.

Here I am running EC2 instance with instance profile who has role associated with **ES-FULL-ROLE**

My Resource Based Policy :
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::1111111

[2018-01-23 12:49] davideagle opened #21 "Does not work with ES 6.0"
Seems to be creating AWS creds on each request to the proxy when connecting to AWS ES 6.0.1
 ##
2018/01/23 12:34:37 Listening on 0.0.0.0:9200...
2018/01/23 12:34:52 Generated fresh AWS Credentials object
2018/01/23 12:34:53 Generated fresh AWS Credentials object
2018/01/23 12:34:56 Generated fresh AWS Credentials object

[2018-01-29 10:07] abutaha commented on #21
Hi, this looks more like an issue within your AWS credential keys. You can use AWSCli to create the credential file.

The below commands will install and configure AWSCli for you:

$ sudo pip install awscli
$ aws configure

[2018-01-29 10:12] abutaha commented on #20
Hi, this is because the proxy is running on your localhost IP. You need to make it run like the following:

./aws-es-proxy -verbose -listen *0.0.0.0:9200* -endpoint https://search-rkteam1-3lpw44lsn6ez4hccim6w66pj3e.us-east-1.es.amazonaws.com

or

./aws-es-proxy -verbose -listen *172.31.65.132:9200* -endpoint https://search-rkteam1-3lpw44lsn6ez4hccim6w66pj3e.us-east-1.es.amazonaws.com

172.31.65.13

[2018-01-31 10:24] davideagle commented on #21
I was using env variables as mentioned in the README, shouldn't that work?

export AWS_ACCESS_KEY_ID=AKID1234567890
export AWS_SECRET_ACCESS_KEY=MY-SECRET-KEY

[2018-01-31 15:05] abutaha commented on #21
Thanks for the feedback. Will have a look and let you know. Just one more question:

You running the proxy from terminal console or docker?

[2018-02-06 15:11] vojtasvoboda opened #22 "[feature] Homebrew installation"
I will be more then happy having an installation over the [Homebrew](https://brew.sh/) :-)

[2018-02-07 06:18] abutaha commented on #22
Nice idea! I will work on submitting a copy to Homebrew team. Thanks!

[2018-02-10 03:26] abutaha commented on #19
No information shared. Closed until more context is shared.

[2018-02-10 03:26] #19 closed

[2018-02-14 20:46] radiating opened #23 "Please add more running example"
Hello,

I'd like to be able to pre-sign request for Kibana using your tool. We're using the AWS's VPC-supported Elasticsearch Service. We have an IAM user "ec2-aws-es-user" to allow access to resource "test-es-domain/*".

[code]
We have installed aws-es-proxy on an EC2 instance within our same VPC (say its ip is 10.20.30.40) and the sign in information for user "ec2-aws-es-user" is in ~/.aws/crede

[2018-02-14 23:50] radiating commented on #23
Hello again,
 
So I found out why my curl didn't return a response after starting "aws-es-proxy -endpoint ... ". That's because I had exported "http_proxy=xxxx" and "https_proxy=xxxx". So curl does not like that which I should have known from past experience.
 
To answer my own question # 2, in the /etc/kibana/kibana.yml file, I should have the following settings:
[code]

[2018-03-12 13:48] niallmccullagh opened #24 "Tagged docket images"
Currently there is only a latest tag available on docker hub. This can cause issues for people as they could be automatically upgraded to the new release unexpectedly.

It would be an idea to tag the docker image with the corresponding release.  For example abutaha/aws-es-proxy:v0.8

[2018-03-19 08:24] FlorianBruniaux commented on #21
Hello,

Same problem here;

Does not works on AWS ES 6.2

[2018-03-20 19:13] rolodato commented on #21
@abutaha I'm having the same issue, haven't tested with a different version of ES though. I'm passing AWS credentials directly through environment variables, running directly from the Linux 64-bit binary.

[2018-03-21 12:18] abutaha commented on #21
@rolodato @FlorianBruniaux @davideagle thanks for reporting this. I can confirm it fails to use the exported variables. Will do a fix and release a new version soon.

[2018-03-31 13:24] abutaha commented on #24
@niallmccullagh This is done now. New containers will have their own tag while the latest tag will be pointing to the latest version.

[2018-03-31 13:44] abutaha commented on #22
Thank you. I see the changes were approved, but the pull request is still open. Please let me know once it's merged and I will update the README to reflect brew installation.

thanks,

[2018-04-02 13:04] abutaha commented on #21
@rolodato @FlorianBruniaux @davideagle

I did 2 tests today:

1. Running aws-es-proxy inside docker
2. A brand new EC2 instance (neither awscli and iam role were installed/used)

It worked without any problem.

For some reason I couldn't reproduce the issue, although it happened to me as well. So please try the following:

Docker:

You can try to run it within docker using the below command (don't

[2018-04-02 22:29] willejs commented on #24
@abutaha can you bake a new release please?

[2018-04-16 19:21] AndreLouisCaron opened #27 "403 response from AWS is translated to 200 response"
Hi there!

Thanks for `aws-es-proxy`, it's proven to be very useful to me :-)

While using it, I noticed some incoherent results (e.g. missing documents) in AWS ElasticSearch and a lot of `Generated fresh AWS Credentials object` log messages.

This message is emitted in lines 159-164:

[code]

Based on some experiments, I noticed that this will return an HTTP 200 response to the caller (see https:

[2018-05-08 15:24] stuartsierra opened #29 "Empty response to HTTP redirect for Short URL"
When using Kibana's **Share Snapshot** feature, Kibana generates a 'Short URL' like:

    http://localhost:9200/_plugin/kibana/goto/2f781386f3554d41d41468fad20f24c9

aws-es-proxy responds to a request for this URL with an empty HTTP 200 response like:

    HTTP/1.1 200 OK
    Date: Tue, 08 May 2018 15:15:48 GMT
    Content-Length: 0
    Content-Type: text/plain; charset=utf-8

when the expected re

[2018-05-30 02:47] mumoshu commented on #27
I saw the same issue when I provided aws-es-proxy an incorrect AWS credential.

Let me add 👍 to forward 403 response back to the caller!

[2018-05-31 03:44] sheen2x opened #32 "aws-es with vpc"
Hello,

I just want to know if this proxy is working on aws-es 6.2 with vpc? We've tried it on our machine but unfortunately we can't run it successfully.

Thank you.

[2018-07-02 11:18] phillipsnick commented on #32
Just been trying to work this out myself, I can't see how it would work with VPC.

[2018-07-17 00:03] bossyan commented on #13
How were you able to fix this @MrPink ? What AWS credentials file?

[2018-07-17 15:10] baltika10 opened #34 "Support multiple profiles for AWS"
Hi,
On my machine I using another AWS services, which are using different credentials.
Credentials are stored in **~/.aws/credentials** which [supports](https://docs.aws.amazon.com/cli/latest/userguide/cli-config-files.html) multiple profiles, but the tool is not able to receive the profile name (it just uses the default one).

Is it possible to add new parameter for profile name?

[2018-08-12 08:20] anegrin opened #35 "POST with url parameters fails"
example: query with routing

[code]

aws-es-proxy verbose log prints:

`2018/08/12 08:18:32 Generated fresh AWS Credentials object`

and the curl returns empty response

[code]

workaround: send a GET instead of a POST *but* this is not working with _delete_by_query as it requires POST

[2018-08-15 20:17] arunjadhav16 commented on #21
This is working for me when I setup aws-es-proxy on ec2 instance using role. I can see output for curl command to check status of AWS ES cluster.

 I want to connect AWS ES using private Kibana instance . Kibana is installed on aws EC2 instance along with aws-es-proxy. When I setup Kibana configurations to connect to ES using :  elasticsearch.url: "http://localhost:9200" in kibana.yml.

 I see fol

[2018-08-24 15:00] jamesrenaud commented on #32
Unless you do something like Direct Connect to make your machine act as though it's part of the VPC this isn't possible.

Your best bet would be to run the proxy on an EC2 and that EC2 be made publicly accessible, but with the extra hop it's likely not worth the trouble. Making the domain public instead of on the VPC and curating a good access policy on the domain should work just fine.

[2018-08-24 15:05] jamesrenaud commented on #34
Check out #1

[2018-09-01 00:47] AlJohri commented on #1
@abutaha I think this needs to be documented in the README. see #34

[2018-09-07 12:39] jonapich commented on #34
I wasn't able to make it work OOTB either. It probably supports simple profiles, but it doesn't seem to support Assume Roles embedded into profiles. You gotta do the assume role yourself and then output the environment variables for aws-es-proxy to use.

Here's the script I used, hope it can be useful to someone else:

`
import boto3
from subprocess import run, PIPE

sts = boto3.Session(profile_na

[2018-09-14 02:34] eykilles opened #37 "NEST Elasticsearch 6.2 using wildcard in indices"
Hi, we used aws-es-proxy, I'd like to ask if there is a way to use a wildcard query in indices using NEST?

We have indices like:
index-2018.08
index-2018.09

and we only want to use those indices in one query in c#.
We used index-* but it shows invalid response.

[2018-11-01 20:21] abutaha commented on #37
Hi, Can you please post a more readable output?

[2018-11-01 20:29] abutaha commented on #32
Did you tried using the latest version and passing '-no-sign-reqs'? This argument will disable signing the requests, making the proxy working with literally any ElasticSearch server.

Please test and let me know.

Thanks,

[2018-11-01 20:42] abutaha commented on #32
I just remembered that you can use SSH to tunnel the traffic from your local machine to an EC2 instance without the need of a VPN.

I didn't try this, but I think it works:

# Create the SSH tunnel to listen on port 8888

# Configure your terminal to use the tunnel:
export HTTP_PROXY="ec2-ip:8888"

# run aws-es-proxy

[2018-11-02 20:48] gjacquet opened #38 "Invalid signature with ill formatted URL"
I am facing some issues when using aws-es-proxy with a client that generates ill formatted URLs. The signature is generated based on the original signature but then go http client sanitize the URL before sending the request to AWS Elasticsearch.

More specifically I am using aws-es-proxy to authenticate calls from Jaeger to Elasticsearch. The dependency job (https://github.com/jaegertracing/spark-

[2018-11-05 16:00] gjacquet commented on #38
I just went through the issues and did not check the PRs before opening that issue.

I think #28 is only addressing one of the cases where the signature could be incorrect (i.e. when there is a double `/` in the path). However go http client does a lot more to sanitize the URL (e.g. remove `./` or resolve `../` in the path). Using `path.Clean` would be a much more generic way to tackle this issue

[2018-11-23 11:59] abutaha commented on #38
This is fixed now by merging #39.

[2018-11-23 11:59] #38 closed

[2018-11-30 20:02] Issif commented on #34
If it can help, here a snippet from one of my tool for AWS :
[code]

Regards,

[2018-12-03 14:17] kfalconer commented on #32
This article worked for me using ES behind a VPN. I had an ec2 instance running NGINX as a reverse proxy.

https://sysadmins.co.za/aws-access-kibana-5-behind-elb-via-nginx-reverse-proxy-on-custom-dns/

In my case I am access via a subdirectory `https://domain.com/kibana`

[code]

[2018-12-19 07:55] thadamski opened #41 "i/o Timeout to _bulk"
Hi, I'm receiving an `i/o timeout` and then a container crash/restart when attempting to use the `aws-es-proxy` container in my EKS deployment (v1.11.5). I have a fluent-bit configuration pointing to the `aws-es-proxy` service (defined in the yaml below). Any idea on why I would be receiving the timeout? Perhaps you can see an obvious misconfiguration... Thank you in advance for any help you may p

[2018-12-19 09:14] thadamski commented on #41
This ended up being an AWS configuration issue. My EKS cluster was in a different VPC than my ES Service. Had to open up port 443 in the ElasticSearch SG and in the NACL for my EKS cluster CIDR.

[2018-12-19 09:14] #41 closed

[2019-01-07 22:32] brainlid opened #42 "Error in logs, nothing gets to ES"
I am running version 0.9 hitting an AWS ES Domain.

Here is an error from the logs:

[code]

I created a custom Dockerfile so I could override `ENTRYPOINT []` so I could override the CMD. Was just trying to get verbose logging while trying to find where things are failing.

I'd suggest not setting an ENTRYPOINT in the upstream Dockerfile so it is easier to override usage.

A couple thoughts:

1. G

[2019-01-24 16:58] fnannizzi commented on #27
I just ran into this problem myself, and found that rebuilding aws-es-proxy with the change in https://github.com/abutaha/aws-es-proxy/pull/40 allowed me to see the 403 error that was occurring. Would love to see https://github.com/abutaha/aws-es-proxy/pull/40 merged 🙂

[2019-01-29 23:00] abutaha commented on #27
I started to work a rewrite to allow control through arguments. I will release a new version by end of next week.

[2019-01-31 18:05] discordianfish commented on #21
This is happening to me too on a new cluster with same (or at least very similar) config. When I request something from aws-es-proxy, it returns 200 with empty body and logs a panic:
[code]

[2019-03-08 01:02] prasanthgv opened #44 "ES Proxy process abruptly stops"
The ES Proxy process stops abruptly and no hit in the logs. The log files are all created as blank files in fact.

[2019-03-13 04:22] dunindd opened #45 "credentials_process is unsupported"
I have an `~/.aws/credentials` file with the following content:

[code]

When running `aws-es-proxy` I expect the program to execute the `credentials_process` program to retrieve AWS credentials. However, it does not seem that this is supported. I also notice that there is a request to support multiple profiles for AWS (#34).

I was able to resolve my issue, and support multiple profiles by simply

[2019-08-14 07:31] liangruibupt opened #49 "Can not work for China region"
aws-es-proxy-0.8-linux-amd64 -endpoint https://search-real-time-bushfire-hql7siqa3m4sz6altvkp3t76e4.cn-north-1.es.amazonaws.com.cn

2019/08/14 05:50:24 error: submitted endpoint is not a valid Amazon ElasticSearch Endpoint

The code
[code]
should adopt the China region url

*.cn-north-1.es.amazonaws.com.cn
*.cn-northwest-1.es.amazonaws.com.cn

[2019-08-14 11:34] liangruibupt opened #50 "build on EC2 failed with error"
[ec2-user@ip-172-16-2-169 aws-es-proxy]$ go version
warning: GOPATH set to GOROOT (/usr/lib/golang) has no effect
go version go1.9.4 linux/amd64

[ec2-user@ip-172-16-2-169 aws-es-proxy]$ glide -v
glide version v0.13.3

[ec2-user@ip-172-16-2-169 aws-es-proxy]$ glide install
[INFO]	Lock file (glide.lock) does not exist. Performing update.
[INFO]	Downloading dependencies. Please wait...
[INFO]	--> Fe

[2019-08-14 14:08] liangruibupt commented on #50
@abutaha could you please help guide me how to resolve this issue?

[2019-08-14 14:10] liangruibupt commented on #49
I can quickly workaround by
[code]

But I cannot build due to issue #50

@abutaha can you help on the support China Region?

[2019-08-16 08:58] liangruibupt commented on #50
I can build on Mac, but failed on Amazon Linux 2 and Ubuntu
@abutaha cloud you please help on it.

[code]

[2019-08-16 08:59] liangruibupt commented on #50
[code]

[2019-08-19 06:11] abutaha commented on #50
Hi, try setting your GOPATH to another directory. From the warning message, it looks like GOPATH is set to GOROOT.

try the following:

mkdir ~/go-libs
export GOPATH=~/go-libs

then try again.

[2019-08-19 06:12] abutaha commented on #49
Hi,

thanks for bringing this on. Will have it updated with a new release I'm preparing.

[2019-08-26 19:53] kenhen93 opened #51 "Kibana won't load"
Hello,

I built your aws-es-proxy from source on centos with success. It successfully runs and I can get to the elastic search root that shows the version but when I try to go to Kibana /_plugin/kibana/ I get a blank page. My aws elastic search cluster service is setup in a VPC. My access policy is wide open:

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Prin

[2019-08-31 18:35] abutaha commented on #51
What is the cluster version? 6.x?

[2019-09-23 20:49] kenhen93 commented on #51
I am running 6.5 and 6.7. I would really like to use your proxy if you can address this bug

[2019-09-23 20:52] kenhen93 commented on #51
@danopia Actually I see what you are saying

[2019-10-18 07:04] jewdore commented on #50
if only for test purpose,  suggest use aws es proxy by ec 2 https://github.com/jewdore/aws-es-proxy-by-ec2, fork from current repo

[2019-10-28 09:50] dormunis opened #55 "README for docker accessibility"
In order to access the docker from a docker network, or testing it out locally, it's necessary to -listen 0.0.0.0:9200 instead of the default 127.0.0.1 (when running on docker only)
Just thought that this could be a nice addition for the README in case people do use docker

[2019-10-29 03:24] abutaha opened #56 "Kibana blank page - Affected ES versions 6.0+"
Hi, I need help finding out why Kibana is blank in ES versions 6.0+. I suspect the issue is related to HTTP headers, but I couldn't find anything yet. If anyone can give a hand here, I will be grateful.

[2019-10-30 02:06] #56 closed

[2019-11-25 06:37] jerry123je commented on #49
Hi,

any update on this issue?

[2020-01-04 00:01] mertkiray opened #57 "Kibana blank page"
Hello, is this project still maintained?
Kibana page stays as blank when loaded by the proxy.
Do you plan to release v.1.0 soon or are there any hacks to fix this.
Thanks,
My ES specs is this:
 `{
  "name" : "xxxx",
  "cluster_name" : "xxxx",
  "cluster_uuid" : "xxxx",
  "version" : {
    "number" : "7.1.1",
    "build_flavor" : "oss",
    "build_type" : "tar",
    "build_hash" : "7a013de",
    "b

[2020-01-05 06:35] abutaha commented on #57
Hi @mertkiray,

Yes, the project is still maintained. There's a dev branch for v1.0, but it's not ready to be released yet.

The recent versions of Kibana are returning 302s for **_plugin/kibana** pointing to **_plugin/kibana/app/kibana**. This change is making the signing request to fail.

However, if you request Kibana through the link directly it works. So instead of accessing: http://localhost

[2020-01-08 02:53] kick12786 opened #58 "Issues on ES 6.2 to 7.1"
We're currently using AWS ES PROXY version O.9 on Windows and Elasticsearch 6.2. We're planning to upgrade to Elasticsearch 7.1. After checking the proper configuration and changing the AWS credentials we are encountering this error, "AWS ES generated fresh aws credentials object"

Do you have inputs about this? I'm also new on this matter so its still hard to work on. Thank you!

[2020-01-09 12:49] mertkiray commented on #58
Where are you using the library? AWS, Docker can you give more info about the problem. Maybe I can help you with that.  I am running ES 7.1 with this library.

[2020-01-21 21:37] weffey commented on #58
@kick12786 Not sure if you're still having this issue, but I was having the same behaviour, and this is what fixed it for me: Changing `-endpoint` from `http:// ....` to `https:// ...`

[2020-01-22 17:16] jashish24 opened #59 "Docker Composer File"
Can you please post a sample docker-compose.yml file. Entry point `aws-es-proxy` is not giving any response. Here is what I am doing:

`  awsesproxy:
    image: abutaha/aws-es-proxy:latest
    container_name: "${PROJECT_NAME}_awsesproxy"
    command: "-endpoint https://search-test-elasticsearch-public-zcic4twj4hhapruits7r7shdem.us-east-1.es.amazonaws.com"
    environment:
      AWS_ACCESS_KEY_ID:

[2020-02-04 22:53] atlowell-smpl opened #60 "301 Error on Kibana Load"
Environment:
-Elasticsearch 2.3 requiring https and restricting access to an IAM user.
-Windows 10 running via the exe

Error:
-On loading http://localhost:9200/_plugin/kibana/, the app crashes stating "301 response missing Location header"
-Cloudwatch logs show 0 http 300 responses and 1 InvalidHostHeaderRequest, which is unlikely to be related because it was 30 minutes ago and I've received this

[2020-02-05 03:33] abutaha commented on #60
@atlowell-smpl was the proxy working, then it stopped? I will run a test on ES 2.3 on Linux and Windows to check if this is platform related or application.

[2020-02-05 15:53] atlowell-smpl commented on #60
@abutaha the proxy was running without displaying error messages prior to the crash, but as for whether it was "working", that is unclear.  As I mentioned above, I was receiving a 404, rather than an access denied, which suggests that perhaps it was able to connect to the server.

[2020-03-12 18:02] jcpetruzza opened #65 "Update docker image?"
The latest official docker image (`0.9`) appears to be a year old. Since then, the `aws-sdk-go` has [added support for assuming roles via webtokens](https://github.com/aws/aws-sdk-go/blob/master/CHANGELOG.md#release-v1210-2019-07-18). This is necessary in order to run `aws-es-proxy` on kubernetes via AWS EKS using the native support for IAM roles.

Building against a newer version of `aws-sdk-go`

[2020-03-13 10:28] jcpetruzza commented on #65
Just saw #61 which would need to be merged first!

[2020-03-22 15:52] abutaha commented on #65
Will have a look and update the docker image.

[2020-03-22 16:06] jcpetruzza commented on #65
Thanks! Since you are on it, would you consider merging #40 as well? We are using using `aws-es-proxy` via the [fluentd-elasticsearch helm chart](https://github.com/kiwigrid/helm-charts/tree/master/charts/fluentd-elasticsearch) on EKS, and had to end up using a custom image with both #61 and #40 applied. The latter was to actually see some errors when the IAM role was misconfigured! :smile:

[2020-04-03 21:37] #29 closed

[2020-04-03 21:41] abutaha commented on #60
This has been fixed in the new code in master branch. I will release a docker image later on with the fix included.

[2020-04-03 21:41] #60 closed

[2020-04-03 21:41] abutaha commented on #57
This issue has been fixed in master branch now. A docker image will follow soon.

[2020-04-03 21:41] #57 closed

[2020-04-03 21:43] abutaha commented on #65
This has been fixed in the new commit to master today. I will soon release a new docker image containing the latest code.

[2020-04-05 02:11] abutaha commented on #8
Too old to verify. Please open a new issue if this is still required.

[2020-04-05 02:11] #8 closed

[2020-04-05 02:11] #20 closed

[2020-04-05 02:12] #21 closed

[2020-04-05 02:13] #23 closed

[2020-04-05 02:13] #27 closed

[2020-04-05 02:14] #32 closed

[2020-04-05 02:15] #51 closed

[2020-04-05 02:15] abutaha commented on #49
Fixed.

[2020-04-05 02:15] #49 closed

[2020-04-08 09:42] nikhilo opened #68 "Received 403 from AWSAuth, invalidating credentials for retrial"
I have set up the ES inside of a VPC. The access policy is set to open. I'm running this proxy on an instance inside the same VPC with public IP. And then trying to access the /_cat/indices endpoint.
Getting a 403 on the curl and seeing following error in the proxy logs,
[code]
Not necessarily saying that there's a problem with the proxy.
Just need help in identifying the problem here.

[2020-04-08 10:02] abutaha commented on #68
Try passing '-no-sign-reqs' and see if that works.

[2020-04-08 10:57] nikhilo commented on #68
Nope, that's a quick 401. Equivalent to me doing,
`curl https://vpc-mydomain-randomcharacters.us-east-1.es.amazonaws.com/_cat/indices` from the ec2 instance.

[2020-04-09 21:28] leptitchriss commented on #34
@jonapich I know your post is over a year old and the project has been updated since, but I'm running into a very similar problem as you dealing with Assumed Roles and have implemented a very similar solution. What happens to your process once the session token expires? I'm considering going with this approach and simply refreshing the session credentials and restarting the proxy each time but it

[2020-04-14 06:39] abutaha commented on #68
ok, is the policy open to public or it is open to specific IP?

[2020-04-15 05:47] nikhilo commented on #68
The policy is allowing "*" to the IAM role of the instance, on which I'm running the proxy from

[2020-04-21 12:22] jonapich commented on #34
@leptitchriss I only use it once in a while in limited sessions, never had them expire.

malade ton nickname :laughing:

[2020-05-13 19:40] ek-ex opened #69 "aws-es-proxy within a EC2"
I would like to start aws-es-proxy inside an EC2 instance. What configuration should I add to the EC2 role in order for aws-es-proxy to correctly assume the ES roles and to be able to correctly authenticate?

[2020-05-18 23:44] kjorg50 opened #70 "API request to Kibana not including kbn-xsrf header"
Hi, I'm trying to make an API request similar to the one described in this answer about [updating index patterns](https://discuss.elastic.co/t/reloading-the-index-field-list-automatically/116687). My proxy is running on port 9200 and then I try something like this

[code]
However, I get this error

[code]

Even though that header is included in the request, I think it is not being passed through t

[2020-05-23 18:00] dl-git commented on #70
hi @kjorg50  - I faced a very similar issue trying to run filebeat setup
I'm not hugely familiar with go so I found an npm alternative
https://www.npmjs.com/package/amazon-elasticsearch-proxy

edited the file node_modules/amazon-elasticsearch-proxy/proxy.js
and added in a statement to include the kbn-xsrf header
(there's already one for the kbn-version header)

the very definition of a hacky worka

[2020-05-27 12:17] abutaha commented on #70
Hi,

Thanks for reporting this. Will release a fix soon.

[2020-06-01 12:59] ojundt commented on #65
Having IRSA support would be great! Any news on integrating that feature?

[2020-06-01 19:11] tedder opened #71 "[feat req] allow passing the Elasticsearch endpoint via environment vars"
Currently it takes some nonstandard leaps to point the proxy to a host in an environment variable. The following is sort of 'pseudocode' for docker config.

doesn't work:
[code]

current workarounds:
[code]

it'd be nice to do:
[code]
It might be handy for other parameters, but this is the one that tends to vary the most- for instance, in ECS, I can look it up by storing it in `ssm` and then injec

[2020-06-02 09:30] saravanan30erd commented on #70
@kjorg50 @dl-git

You can use the header `kbn-version` to solve this error.

Kibana UI uses `kbn-version` header to mitigate this [issue](https://github.com/elastic/kibana/issues/5594)

```curl 'http://54.169.133.30:9200/_plugin/kibana/api/saved_objects/index-pattern/INDEX-PATEERN_ID' -X PUT -H 'Content-Type: application/json' --data-binary '{"attributes":{"title":"INDEX","fields":"[]"}}'  -H "kbn

[2020-06-02 13:52] saravanan30erd commented on #71
@tedder  Raised the PR for this.

[2020-06-05 08:13] #71 closed

[2020-06-05 08:13] #70 closed

[2020-06-08 16:16] codyja commented on #65
Would like to give this a try with the later `aws-sdk-go` version that supports IAM on EKS. Thanks!

[2020-06-08 16:58] abutaha commented on #65
@ojundt version 1.1 has IRSA included, can you give it a try?
@codyja I'm using aws-sdk-go v1.30.4 which I think has the support, however, I will update the sdk and release a new version this week.

[2020-06-12 18:08] ojundt commented on #65
@abutaha version 1.1 with IRSA works like a charm. Thank you!

[2020-07-19 05:35] kyllr-analytics opened #75 "We are having performance issue in Elasticsearch/Kibana after migrating to another server host."
Hello,
We are having issue in Elasticsearch/Kibana.
We have AWS Proxy and Kibana 7.1 setup in the same server. After migrating both to another server host and make it live in the load balancer, we are facing request timeout issue when accessing our Kibana application.
![image](https://user-images.githubusercontent.com/68491908/87867982-888df880-c9c4-11ea-9caf-e0dce1dc0b71.png)

Though when using t

[2020-07-23 02:45] kyllr-analytics commented on #75
Could anyone help me with this? This is a production issue.

Right now, our suspicion would be the aws proxy are having incompatibility with Windows Server 2016 that's why the issue only appears when pointing to it.

Here's the comparison of the instances where we're running Proxy and Kibana.

Old - which having no issue
Windows Server 2012 R2
Processor: Inter(R) Xeon(R) CPU E5-2666 v3 @ 2.90GHz

[2020-07-27 07:51] abutaha commented on #75
Hi, Can you try a newer version of the proxy? https://github.com/abutaha/aws-es-proxy/releases/

Do you face the same symptoms when you run your queries from the Win2016 directly? Or it only appears when it is behind a Load Balancer?

[2020-07-27 11:55] abutaha commented on #75
@kyllr-analytics one more thing to add, are you using AWS IAM roles? If yes, did you check the same role is attached to the newer instance?

[2020-07-27 13:09] kyllr-analytics commented on #75
Hi @abutaha

Thank you for taking your time to look into this concern.

Already tried using latest version of proxy (v1.1) and got the same result, Kibana did not load properly or sometime Elasticsearch request timed out.

This only happens in Win2016 when it is behind the load balancer with all the load sending logging data to it.

[2020-07-28 15:25] jeremych1000 opened #76 "Log JWT token in headers returned from AWS Cognito"
Hello,

I've been using this signing proxy in our workflow successfully, which looks something like this:
AWS ALB --> SAML authentication via AWS Cognito --> aws-es-proxy --> downstream

I wish to log exactly who has made the request.

Therefore, I've turned on verbose logging, but want to access the headers of the request, especially `X-Amzn-Oidc-Data`, as this is a JWT token that includes inform

[2020-07-29 16:58] jeremych1000 commented on #76
I've merged a PR in our fork which enables this, but it's a custom solution for our problem and set up (ALB with Cognito integration). It works well.

Any ideas on how I can make the PR generic so it can be merged in this repo?

https://github.com/abutaha/aws-es-proxy/compare/master...OakNorthAI:master

[2020-07-31 18:53] amcintosh opened #77 "Method for terminating the proxy remotely"
Hi. We've had an issue when using the es-proxy with cronjobs in kubernetes. The main container finishes its work and terminates, however the es-proxy sidecar continues to run and so the pod itself never finishes. We thus need to go manually clean these up periodically.

So, I'm hoping to add a patch for the proxy to accept a HTTP POST that gracefully exits, which our main container can invoke upon

[2020-08-19 19:04] nsvijay04b1 opened #79 "Getting net/http: TLS handshake timeout while accessing AWS managed Elasticsearch service"
Created a container with image  **abutaha/aws-es-proxy:v1.1** with below args
[code]

Created another container in same k8s cluster with "curl" in it and did  curl
**curl http://\<aws-es-proxy container IP\>:9200/_app/kibana**

Instead of giving HTTP success getting error
**Get "https://vpc-XXXX-logging-tracing-XXXXXXXXXX.eu-west-1.es.amazonaws.com/_app/kibana": net/http: TLS handshake timeout**

[2020-08-24 21:30] nsvijay04b1 commented on #79
Issue resolved after adding NO_PROXY=es.amazonaws.com .
Sorry for raising issue.

[2020-08-24 21:30] #79 closed

[2020-08-25 07:05] puzzledvacuum opened #80 "Using aws-es-proxy in conjunction with elasticdump"
I have multiple projects that use the proxy to gain access to es clusters within aws (moving millions of documents per week) and after bumping the version to either `v1.0` or `v1.1` the upload stage fails with message:
- Client.Timeout exceeded while awaiting headers

The only thing that helps is rolling back to version `0.9` of the proxy.

[2020-09-10 00:30] abutaha commented on #80
That's an interesting issue. In v1.0 the proxy is using a customized http client while in v0.9 it was the default client. This change was required to avoid 301 redirections which were introduced in recent versions of Kibana.

However, the v1.0 has a '-timeout' argument which can be used to increase (default timeout is 15s). Would you please give this a try and share your results? Additionally, any

[2020-09-10 16:11] bva commented on #80
@abutaha I'm too getting Client.Timeout with 1.1 version of proxy time after time. Restart of program helps, but after 2-3 weeks of working issue repeats. I tried to raise timeout to 4 minutes (should be enough to collect cluster statistics, I use proxy for Prometheus exporter), with no visible difference, issue persists. Attached excerpt from proxy logs.

[es_log.txt](https://github.com/abutaha/a

[2020-10-15 00:47] DustinKLo commented on #68
I'm getting the same issue
did you ever find a workaround @nikhilo ? thanks 👍

[2020-10-16 22:59] DustinKLo commented on #68
i made a fix for in my org's fork of this repo: https://github.com/hysds/aws-es-proxy/commit/c656b87ba1d15e819b7bdeeee450e92eb37063a3

looks like the proxy parses the `endpoint` variable to get the values of `region` and `service` and `region` was being set to an empty string

the AWS Elasticsearch endpoint that we're isn't what the code is expecting:
`https://vpce-########-######vpce-#####-######

[2020-10-19 07:38] vinay2107 opened #83 "Certificate validation fails for CNAME record"
Missing a command line option to disable ssl check though addressed in the PR https://github.com/abutaha/aws-es-proxy/pull/63
I get the below error upon adding a CNAME record for the elasticsearch endpoint.
Error:
`level=error msg="Get \"https://elastic.example.comt/\": x509: certificate is valid for *.eu-central-1.es.amazonaws.com, not elastic.example.com`

[2020-10-21 10:37] spicoflorin commented on #68
Hello, @DustinKLo !
 I have checkout the branch https://github.com/hysds/aws-es-proxy/tree/code_cleanup.
 I compiled the code  with
go version go1.15.2 linux/amd64
I have obtained the binaries  10515212 Oct 21 10:05 aws-es-proxy
When I ran the command ./aws-es-proxy -verbose -listen <my-proxy-machine-ip>:9200 -region eu-central-1
having an vpc es endpoint
export ENDPOINT=https://vpc-<hidden>.eu-ce

[2020-10-21 16:57] DustinKLo commented on #83
@vinay2107 its because the proxy assumes you have valid SSL certificates to proxy requests to AWS Elasticsearch

i made a fix in my organization's fork of this repo and added a `-insecure` flag to skip certificate verification
https://github.com/hysds/aws-es-proxy/commit/c656b87ba1d15e819b7bdeeee450e92eb37063a3#diff-b9309a8e419ee0b4574642a8afefceccd13d15619fe17be6a1442df29f3db5f2R104-R109

you can

[2020-10-30 11:05] spicoflorin commented on #68
@DustinKLo Thank you very much for the fix! Can you please merge your changes in this repository?
@abutaha  it will be very helpful for the community to include this fix into the releases.
Thansk.

[2020-10-30 11:19] abutaha commented on #68
Thanks for pointing it out. Can you please submit a merge request?

[2020-11-27 09:33] CompuGlobalHyperMegaNet-VP opened #86 "AWS ES Custom Endpoint does not work with AWS SignV4"
Hi,

recently, AWS introduced Custom Endpoints:
https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-customendpoint.html
so one can assign a permanent custom DNS record to the ES domain.

When using aws-es-proxy with the custom endpoints and  SignV4 enabled, this fails:
`time="2020-27-11 09:25:35" level=error msg="Received 403 from AWSAuth, invalidating credentials for retria

[2021-01-11 20:40] stpierre opened #87 "New release, update Docker container?"
Any chance a new release could be cut? The new `-assumeRole` option would be super useful to us.

Additionally, the latest release is 1.2 but the latest tag in the Docker repo is 1.1. Could we get an updated Docker image as well?

Thanks!

[2021-02-08 15:07] phntom commented on #87
i've built https://hub.docker.com/layers/phntom/aws-es-proxy/1.2/images/sha256-bccf55cd0638b60567e86fb0b3ca85fe57f8066a20c50b9f1d0ee307204d654b?context=explore
it's linked to my github fork and built remotely on docker hub.
i've updated to golang 1.5 and latest alpine for good measure. tested with fluentd-elasticsearch,

[2021-02-16 14:54] Johnsonkdavid opened #88 "aws-es-proxy works in HTTPS?"
Hi folks,

I would like to know is there any possibility to configure aws-es-proxy with https?

Thanks

[2021-05-03 18:12] jcalonsoh opened #91 "400 status when _plugin/kibana/api/v1/multitenancy/tenant"
Hi,

proxy works almost great except for this

`{"request":{},"response":{},"body":{"statusCode":400,"error":"Bad Request","message":"Invalid cookie"},"name":"Error","req":{},"res":{}}`

[2021-05-09 00:46] diego-ojeda-binbash commented on #65
Hi @ojundt , could you help me understand how to run aws-es-proxy in order to get it working with IRSA? I'm struggling a bit to make it run. Are you deploying aws-es-proxy through a YAML manifest via kubectl? Are you using a chart? What parameters do you pass to either of those to make it work? Thanks!

[2021-05-10 19:14] diego-ojeda-binbash commented on #65
In case it helps somebody else I managed to get it working on AWS EKS by providing the following environment variables to the aws-es-proxy pod:
- AWS_ROLE_ARN => arn:aws:iam::[ACCOUNT_ID]:role/[ROLE_NAME]
- AWS_WEB_IDENTITY_TOKEN_FILE: /var/run/secrets/eks.amazonaws.com/serviceaccount/token

The service account needs to be annotated with `eks.amazonaws.com/role-arn` so that EKS creates the token i

[2021-05-26 19:52] stpierre commented on #87
Any chance of getting that new release?

Is this project even still active?

[2021-05-27 07:24] abutaha commented on #87
Hi,

I've been away from the project for a while, but will get back to work on it. I will look into this and get it done in this weekend.

[2021-08-05 13:48] jstop commented on #91
I also ran into this using the docker example with the default v1.0 on the master readme. Use release v1.3 and it should work as a result of d8aff77551ef29419a45c844f61b2fc5b2d8955a

[2021-09-16 16:33] PeterCiuffetti opened #99 "CORS preflight requests fail if basic auth is in use on the proxy"
I have installed the aws-es-proxy with the following runtime options:

[code]

And I am using the proxy from a client-side react app; the app and the proxy are on different domains.  So for correct operation, a CORS setup is required.  Prior to a search request via the proxy, the browser sends a CORS preflight OPTIONS request.  This does not have a basic auth header, and [according to the specific

[2021-09-17 02:00] PeterCiuffetti commented on #99
I have forked this repo and added the check for request method.  And I have deployed this forked and modified repo to my proxy host.  The problem with authentication errors on preflight requests has been resolved.

https://github.com/abutaha/aws-es-proxy/compare/master...PeterCiuffetti:master

If you can provide guidance on how I should submit a patch from this diff, please advise.
Thanks
Pete Ciu

[2021-10-25 23:26] fenichelar opened #104 "Feature request: endpoint IP and port config"
Use case:

ES is running in a VPC without public access. SSH LocalForward is used to access ES. The LocalForward rule must be configured to listen on 443 and `/etc/hosts` must be configured to make the endpoint resolve to 127.0.0.1.

Proposal:

Add endpoint IP and port config options (`endpoint-ip` and `endpoint-port`) so that the IP and port can be specified. The proxy would then send the request

[2021-11-22 17:17] avst-dmartino opened #108 "Allowing securitytenant header"
The header _securitytenant_ is needed when requests need to set the header that governs what tenant an entity belongs to. In my case I am using metricbeat and I am trying to setup the dashboards on the global tenant.

[2021-11-30 20:25] jbizzle3000 opened #110 "Received 403 from AWSAuth, invalidating credentials for retrial... /_bulk?timeout=1m; ; 403; 0.210s"
Could someone provide guidance... My AWS creds are good for the role tied to the instance. The domain is in the same VPC and allows this role access. I've not seen the last line in the below snippet in any of the other issues. Any help or direction is more than appreciated. Trying to populate the index from a Nutch instance.

./aws-es-proxy-1.3-linux-386 -listen 0.0.0.0:9200 -endpoint https://vpc-

[2022-02-21 19:36] kirstenmay commented on #110
Any updates on this, I am encountering the same issue

[2022-02-22 17:51] Mcrivar commented on #110
Getting the same error, got the following access policy applied on opensearch:

`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::<>:role/aws-es-proxy"
      },
      "Action": "es:*",
      "Resource": "arn:aws:es:us-east-1:<>:domain/test-domain*"
    }
  ]
}`

Tried this first with a role, which has completely open.
Ge

[2022-02-22 17:54] Mcrivar commented on #110
might be related to this one: #68

[2022-03-15 14:48] kgston opened #115 "Missing osd-version, osd-xsrf passthrough in headers"
Similar to #70, Opensearch requires the same similar headers to be passthrough

[2022-03-31 09:00] polak785 commented on #115
Thank you a lot @kgston for sharing the patch, it worked perfectly again after I migrate my domain to OpenSearch :)

[2022-04-28 15:13] stpierre commented on #87
I saw that there's a new release, but still no new docker image. Any chance we can get a 1.3 docker image built?

[2022-05-12 12:08] jhuebner79 commented on #87
I also hope that somehow maybe a 1.3 version in combination with kokuwaio/fluentd Helm chart resolves an issue Amazon started raising with customers:

[2022-05-13 07:30] jhuebner79 commented on #87
Nevermind, thanks @phntom for jumping in and having filled the gap.

[2022-05-16 17:27] dnabiev opened #118 "Got 404 error when try to access Notebooks by http://opensearch.aws.com/_plugin/kibana/app/opendistro-notebooks-kibana#/"
Hello there,

I got a 404 error when trying to access notebooks by http://opensearch.aws.com/_plugin/kibana/app/opendistro-notebooks-kibana#/ to view a list of notebooks.

Also after creating a new notebook, it didn't appear in the list, but if I go directly to Kibana I can see new notebooks.

[code]

[2022-05-20 04:46] fpSpindola commented on #115
Thanks @kgston
Worked just fine opening OpenSearch Kibana interface

[2022-06-10 06:55] harzallah commented on #87
Hi @abutaha Any chance we can have the latest image built in docker hub soon ?

[2022-08-19 07:23] Alien2150 commented on #115
Any updates on this? Seems PR is open

[2022-08-19 07:26] kgston commented on #115
The project owner seems to have abandoned the project 🤷‍♂️

[2022-08-19 10:08] Alien2150 commented on #115
So seems Amazon Cognito is the way to go @kgston ? :)

[2022-08-19 14:13] kgston commented on #115
I'm not familar with cognito, but I wonder if you can use that without some kind of proxy?

[2022-08-19 15:00] Alien2150 commented on #115
Yes it's "O-Auth" on AWS

[2022-08-22 12:15] kgston commented on #115
Yea, seems like Cognito will provide you a sign in page from which you can then grant access to the dashboard. I've never used it before, but it seems like a valid alternative solution to this proxy.

As for the nginx proxy, it seems like you need to spin up a separate EC2 instance which then adds additional costs.

[2022-09-30 15:58] marklaczynski opened #123 "API request to Kibana not including osd-xsrf header"
So this is very related to https://github.com/abutaha/aws-es-proxy/issues/70 the difference being that OpenSearch now declares the header differently as `osd-xsrf` instead of `kbn-xsrf`

[2022-09-30 18:36] marklaczynski commented on #123
Duplicate of https://github.com/abutaha/aws-es-proxy/issues/115

[2022-09-30 18:36] #123 closed

[2022-11-23 15:10] nsvijay04b1 opened #125 "4 CRITICAL, 29 HIGH, 13 MEDIUM, 3 LOW, 5 UNKNOWN CVEs on latest image"
Hi,

*  Please release official docker tag 1.3 ( missing in dockerhub)
*  Please fix below CVEs as customers are concerned to use the image.

Total CVEs as on 23 Nov 2022.

4 CRITICAL, 29 HIGH, 13 MEDIUM, 3 LOW, 5 UNKNOWN CVEs on latest image

Thank you.

[code]

[2022-11-23 21:41] nsvijay04b1 commented on #125
#126 PR raised to fix the CVEs.  Please review and accept the change.